<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>Covid-19 Tracker</title>
  <!-- css  -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- googlefonts cdn -->
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <!-- bootstrapcdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- font Awesome cdn -->
  <script src="https://kit.fontawesome.com/d2fbf043df.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js" charset="utf-8" ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" ></script>
</head>

<body>
  <!-- navbar -->
<section id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light" style="margin:0% 8% 1% 8%;font-size:1.2rem;font-family:"Ubuntu";">
      <a class="navbar-brand" href="#" style="font-size:2rem;">C<i class="fas fa-virus" color="red;"></i>VID-19 Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active navbar-item" href="/"><i class="fas fa-chart-line" style="margin:0 5px;"></i>Dashboard</a>
          <a class="nav-item nav-link active navbar-item" href="/india-stats" ><i class="fas fa-home" style="margin:0 5px;"></i>India</a>
          <a class="nav-item nav-link active navbar-item" href="" ><i class="fas fa-user-friends" style="margin:0 5px;"></i>About Us</a>
        </div>
      </div>
  </nav>

</section>

<section id="top">
  <div class="container-fluid">
    <div class="row" style="margin:1% 8% 1% 8%;">
      <div class="col-lg-6 md-12">
          <br>
        <div class="row">
          <div class="col-lg-12">
              <h3>Coronavirus cases - Global</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <span style="color:grey;">Last updated: <%=forindia.Date%></span>
          </div>
        </div>
        <center>
        <div class="row" style="padding:2%;">
          <div class="col-lg-4" style="padding:2%;">
            <div class="card" style="max-width: 18rem;border-left: 5px solid #4e73df;">
              <div class="card-body">
                <h5 class="card-title">CONFIRMED</h5>
                <p><%=global_top_card_data.TotalConfirmed%><sup>[+<%=global_top_card_data.NewConfirmed%>]</sup></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4"style="padding:2%;">
            <div class="card" style="max-width: 18rem;border-left:5px solid #1cc88a;">
              <div class="card-body">
                <h5 class="card-title">RECOVERED</h5>
                <p><%=global_top_card_data.TotalRecovered%><sup>[+<%=global_top_card_data.NewRecovered%>]</sup></p>
            </div>
          </div>
          </div>
          <div class="col-lg-4"style="padding:2%;">
            <div class="card" style="max-width: 18rem;border-left:5px solid #e74a3b;">
              <div class="card-body">
                <h5 class="card-title">DEATHS</h5>
                <p><%=global_top_card_data.TotalDeaths%><sup>[+<%=global_top_card_data.NewDeaths%>]</sup></p>
              </div>
            </div>
          </div>
        </div>
      </center>
        <br>
        <div class="row">

          <div class="col-lg-12">

            <h3 > Coronavirus cases - India</h3>

          </div>
          <div class="col-lg-12">

              <span style="color:grey;">Last updated: <%=forindia.Date%></span>

          </div>
        </div>
        <center>
        <div class="row"  style="padding:2%;">
          <div class="col-lg-4" style="padding:2%;">
            <div class="card" style="max-width: 18rem;border-left: 5px solid #4e73df;">
              <div class="card-body">
                <h5 class="card-title">CONFIRMED</h5>
                <p><%=forindia.TotalConfirmed%><sup>[+<%=forindia.NewConfirmed%>]</sup></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4" style="padding:2%;">
            <div class="card" style="max-width: 18rem;border-left:5px solid #1cc88a;">
              <div class="card-body">
                <h5 class="card-title">RECOVERED</h5>
                <p><%=forindia.TotalRecovered%><sup>[+<%=forindia.NewRecovered%>]</sup></p>
            </div>
          </div>
          </div>
          <div class="col-lg-4" style="padding:2%;">
            <div class="card" style="max-width: 18rem;border-left:5px solid #e74a3b;">
              <div class="card-body">
                <h5 class="card-title">DEATHS</h5>
                <p><%=forindia.TotalDeaths%><sup>[+<%=forindia.NewDeaths%>]</sup></p>
              </div>
            </div>
          </div>
        </div>
      </center>
      </div>


      <div class="col-lg-6 md-12">
        <br>
        <center>
          <h3 style="padding:2%">Global-Effects of Covid-19</h3>
        </center>
          <div class="card" style="max-width: auto;border-left:5px solid blue;">
            <div class="card-body">
              <canvas id="myChart" width=auto; height=195px;></canvas>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<section id="tabled">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
          <center>
          <h3 style="padding:2%">Country-Wise Cases Table</h3>
          </center>
        <div class="card" style="width: auto;border-left:5px solid #e74a3b;" id="cards">
          <div class="card-body">

              <div class="country-table" id="">
                <table class="table" id="myTable2" style="max-height: 550px; overflow: auto; display: inline-block;">
                <thead>
                  <tr>
                    <th scope="col">Country</th>
                    <th scope="col">Total</th>
                    <th scope="col">Active_Cases</th>
                    <th scope="col">Recovered</th>
                    <th scope="col">Deaths</th>
                  </tr>
                </thead>
                <tbody>
              <%  india_top_card_data.forEach(function(country){ %>
                  <tr>
                    <td><%=country.Country%></td>
                    <td onclick="sortTable(1)" name="Total"><%=country.TotalConfirmed%></td>
                    <td><%=country.TotalConfirmed-country.TotalRecovered%></td>
                    <td><%=country.TotalRecovered%></td>
                    <td><%=country.TotalDeaths%></td>
                  </tr>
              <%  })%>
                </tbody>
                </table>
              </div>

          </div>
        </div>
      </div>
        <div class="col-lg-6">
            <center>
            <h3 style="padding:2%">Pie Chat For Most Affected Countries</h3>
            </center>
          <div class="card" style="width:auto;border-left:5px solid #1cc88a;" id="cards">
            <div class="card-body">
              <canvas id="myChart2" width=auto; height=305px;></canvas>
            </div>
          </div>
        </div>

      </div>

    </div>
</section>
<section id="bargraph">
  <h3 style="padding:1%;">Bar Graph of Top 10 COVID struck Countries</h3>
  <div class="card" style="width:auto;border-left:5px solid #e74a3b;" id="cards" >
    <div class="card-body">
      <div class="container-fluid">
        <center>

          <canvas id="myChart3" width=auto; height=auto;></canvas>

      </center>
      </div>

    </div>
  </div>
</section>

<section id="perMillionCases">
      <h2 style="text-align:center;padding:2%">Tests conducted per million population - Country wise</h2>
      <center>
      <div class="card" style="width:55%;border-left:5px solid rgba(255, 206, 86, 0.8);" id="cards" >

        <div class="card-body">
          <div class="container-fluid">
            <center>

              <canvas id="myChart4" height=300px width=300px></canvas>

          </center>
          </div>

        </div>

      </div>
          </center>
</section>


  <script >

  var ctx = document.getElementById("myChart3").getContext("2d");
var data = {
  labels: [<%for(var i=0;i<10;i++){%>
      "<%=bar_name[i].Country%>",
    <%}%>
  ],
    datasets: [
        {
            label: "Confirmed",
            backgroundColor: 'rgba(255, 206, 86, 0.8)',
            data: [<%=bar_confirm%>]
        },
        {
            label: "Recovered",
            backgroundColor: "#1cc88a",
            data: [<%=bar_recover%>]
        },
        {
            label: "Dead",
            backgroundColor: 'rgba(255, 99, 132, 0.8)',
            data: [<%=bar_death%>]
        }
    ]
};

var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
        barValueSpacing: 20,
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                }
            }]
        }
    }
});


  </script>

<script >
var plot = [];
var ctx = document.getElementById('myChart2');
<%for(var i=0;i<5;i++){%>
   plot.push(<%=piedata[i].TotalConfirmed%>)
<%}%>
console.log(plot);
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [<%for(var i=0;i<5;i++){%>
        "<%=piedata[i].Country%>",
      <%  }%>
      ],
        datasets: [{
            data: plot,
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
            ],
            borderColor: [
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
                'rgba(255, 255, 255, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>


<script>

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["Confirmed", "Recovered", "Deaths"],
    datasets: [{
      backgroundColor: [
        'rgba(255, 99, 132, 0.8)',
        'rgba(54, 162, 235, 0.8)',
        'rgba(255, 206, 86, 0.8)'
      ],
      data: [<%=global_top_card_data.TotalConfirmed%>,<%=global_top_card_data.TotalRecovered%>,<%=global_top_card_data.TotalDeaths%>]
    }]
  }
});


</script>

<script >

new Chart(document.getElementById("myChart4"), {
    type: 'bar',
    data: {
      labels: [<%for(var i=1;i<11;i++){%>
        "<%=perMillionCases[i].Country%>",
        <%}%>
      ],
      datasets: [{
          label: "Cases Per Million",
          type: "line",
          borderColor: "rgba(153, 102, 255, 0.8)",
          data: [
            <%for(var i=1;i<11;i++){%>
              <%=perMillionCases[i].casesPerOneMillion%>,
              <%}%>
          ],
         fill: false
        }, {
          label: "Tests Per Million",
          type: "bar",
          backgroundColor: "rgba(0,0,0,0.7)",
          data: [<%for(var i=1;i<11;i++){%>
            <%=perMillionCases[i].testsPerOneMillion%>,
            <%}%>],
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Test Conducted per Million VS Cases Per Million'
      },
      legend: { display: false },
      layout: {
        padding: {
          left: 50,
          right: 50
        }
      }
    }
});

 </script>


  <!-- piechart -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" ></script>
</body>

</html>
